.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(202, 64, 87, 0.4);
    padding: 30px;
    border-radius: 10px;
}

.login__container button {
    cursor: pointer;
    border-radius: 10px;
}

.login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
}

.login__google {
    background-color: #4285f4;
}

.login div {
    margin-top: 7px;
}

.login__facebook {
    background-color: #1877f2;
    cursor: pointer;
}

.login__facebook img {
    height: 24px;
    aspect-ratio: auto 24 / 24;
    width: 24px;
}
