.collection-card__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    width: 100%;
}

.collection-card {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    height: 15rem;
    border-radius: 15px;
    border: coral 2px solid;
    background: rgba(255, 165, 0, 0.5);

    margin: 1rem;
    /* max-width: 30rem; */
}

.collection-card__image img {
    border-radius: 0 15px 15px 0;

    height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.collection-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 50%; */
    padding: 10px;
}

.collection-card__button {
    background: transparent;
    border-radius: 5px;
    padding: 4px;
}

.collection-card__buttons {
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    column-gap: 10px;
}

.collection-card__text {
    justify-self: center;
    height: 9rem;
}

.collection-card__link a {
    font-size: 1.1rem;
}
