.recipe-card-container {
    background-color: var(--white);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.recipe-card-container p {
    margin: 0;
}

.recipe-card-container p:not(:last-child) {
    margin-bottom: 14px;
}

.recipe-card-container img {
    width: 100%;
}

.recipe-card__content {
    padding: 26px 16px 16px;
}

.recipe-card__title {
    margin-bottom: 5px;
    font-family: var(--title-font);
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
}

.recipe-card__title--note {
    color: var(--grey);
    font-family: var(--title-font);
    font-size: 14px;
}
