.collections-list {
    display: flex;
    flex-direction: column;
}

.collection-list__button {
    background: transparent;
    border-radius: 5px;

    width: 2rem;
    align-self: flex-end;
    margin: 0 1.1rem 0.6rem 0; /* top | right | bottom | left */
}
