@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:ital@1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=The+Nautigal:wght@400;700&display=swap');
body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #ffff00;
    height: 1px;
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #333;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #333;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #333;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #333;
    border-radius: 5px;
}

.fa-icon-color {
    color: tomato;
}
