@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:ital@1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;700&family=Open+Sans&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-card-width: 400px;
    --grid-card-height: 400px;
    --border-radius: 10px;
    --title-font: 'Mohave', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --orange: #ff4d4d;
    --lighter-orange: #ff8a8a;
    --grey: #727779;
    --dark: #292929;
    --white: #fff;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url('../assets/images/wood-background.jpg');
    color: var(--dark);
    font-family: var(--body-font);
}

h2 {
    /* font-family: var(--title-font); */
    font-size: 2rem;
    line-height: 1.6;
    text-transform: uppercase;
    /* margin-bottom: 1rem; */
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #ffff00;
    height: 1px;
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #333;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #333;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #333;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #333;
    border-radius: 5px;
}

.fa-icon-color {
    color: red;
}

.orange {
    color: var(--orange);
}

/* TODO */
::selection {
    background-color: var(--lighter-orange);
    color: var(--white);
}

.orangered {
    color: orangered;
}

.gold {
    color: gold;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--grid-card-width), 1fr)
    );
    grid-gap: 35px;
    grid-row-gap: 25px;
    grid-auto-rows: 350px;
    grid-auto-flow: row dense;
    margin: 1rem;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
