.navbar {
    display: flex;
    align-items: center;

    background: orchid;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar a,
.navbar__item {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar a:hover,
.navbar__item:hover {
    color: red;
}

.navbar__title {
    font-family: 'Lobster', cursive;
    margin-right: auto;
    /* font-size: 150%; */
    padding: 12px 16px;
}

.navbar__title a {
    font-size: 1.7rem;
}

.nav__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__item {
    /* font-family: 'PT Serif', italic; */
    font-size: 1.1rem;
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}

.navbar__item > Link {
    text-decoration: none;
    color: white;
}
